{% set form = newsletterForm %}
{% form_theme form 'form/themes/default.html.twig' %}

{{ form_start(form, {
	'attr': {
		'novalidate': true,
		'class': 'base',
	},
}) }}

{{ form_row(form['email']) }}

{{ form_widget(form['submit'], {
	'attr': {
		'class': 'btn',
	},
}) }}

{{ form_end(form) }}

{% if editmode or pimcore_textarea('newsletterFormNotice') is not empty %}
	<div class="form-notice">
		<p>{{ pimcore_textarea('newsletterFormNotice', {
				'placeholder' : 'Optional text'|trans,
				'htmlspecialchars' : false
			})|raw }}</p>
	</div>
{% endif %}
